<section class="bg-[#ef82ef] h-[20vh] lg:h-full w-full  text-center grid grid-cols-1 ">
  <div class="border-[1px] w-full border-[#dcac1e] text-xl font-bold uppercase text-white flex items-center justify-center">Aside </div>
  <div class="border-[2px] w-full border-[#dcac1e] text-xl font-bold uppercase text-white flex items-center justify-center">Aside </div>
  <div class="border-[1px] w-full border-[#dcac1e] text-xl font-bold uppercase text-white flex items-center justify-center">Aside </div>
</section>
